<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Cars</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Car License Plate</th>
        <th>Model</th>
        <th>Occupation Status</th>
        <th>Given Rating</th>
        <th>Price per Day</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td><span th:text="${car.licensePlate}"></span></td>
        <td><span th:text="${car.model}"></span></td>
        <td><span th:if="${car.isAvailable}">Not Used</span></td>
        <td><span th:unless="${car.isAvailable}">Used</span></td>
        <td><span th:text="${car.rating}"></span></td>
        <td><span th:text="${car.priceRate}"></span></td>
        <td>
            <a th:href="@{/provider/car-detail/{licensePlate}(licensePlate=${car.licensePlate})}">View Details</a>
            <a th:href="@{/provider/update-car/{id}(id=${car.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>