<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Customer Registration Form</h3>
    <form action="" th:object="${customerDto}" method="post">
        <input th:field="*{email}" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter student' name">
        <input th:field="*{phone_number}" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter student' name">
        <input th:field="*{name}" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter student' name">
        <input th:field="*{password}" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter student' name">
        <input th:field="*{id_card}" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter student' name">
        <input th:field="*{driving_license}" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter student' name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>